block variables
  - var title = "Radian Advisory | Civil Engineering Support for Contractors & Developers"
  - var description = "Practical engineering advice for contractors and developers. Radian Advisory helps deliver projects with compliance, constructability, and dispute resolution expertise — without the consultant wankery."
  - var slug = ""
  - var card = "TODO.png"

doctype html
html(lang="en")

  head

    title #{title}
    meta(name="description", content="#{description}")
    meta(name="theme-color", content="#48C0B8")
    meta(charset="utf-8")

    block viewport
      meta(name="viewport", content="initial-scale=1")

    meta(property="og:title", content="#{title}")
    meta(property="og:site_name", content="Radian Advisory")
    meta(property="og:description", content="#{description}")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://radianadvisory.com/#{slug}")
    meta(property="og:image", content="https://radianadvisory.com/#{card}")

    link(rel="icon", href="favicon.svg")
    link(rel="stylesheet", href="static/styles.css", async)

    block headExtra

  body

    block header
      include _header

    block content
